{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}

{% block script %}
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        {% endif %}
        {% render_table table %}
    </div>
</div>
{% endblock %}