{% load static %}

{% if recipe_detail %}
<div class="d-flex">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="btn btn-secondary me-2" href="{% url 'recipes:recipe_full_form_edit' recipe.id %}">Edit <i class="fas fa-edit"></i></a>
    </li>
    <li class="nav-item">
        <form method="post" action="{% url 'recipes:recipe_delete' recipe.id  %}">
        {% csrf_token %}
            <button class="btn btn-danger" type="submit" value="Delete">Delete <i class="fas fa-trash-alt"></i></button>
        </form>
    </li>
    </ul>
</div>
{% elif file_detail %}
<div class="d-flex">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="btn btn-secondary me-2" href="{% url 'images:file_form_edit' file_obj.id %}">Edit <i class="fas fa-edit"></i></a>
    </li>
    <li class="nav-item">
        <form method="post" action="{% url 'images:file_delete' file_obj.id  %}">
        {% csrf_token %}
            <button class="btn btn-danger" type="submit" value="Delete">Delete <i class="fas fa-trash-alt"></i></button>
        </form>
    </li>
    </ul>
</div>
{% elif publisher_detail %}
<div class="d-flex">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="btn btn-secondary me-2" href="{% url 'recipes:publisher_full_form_edit' publisher_obj.id %}">Edit <i class="fas fa-edit"></i></a>
    </li>
    <li class="nav-item">
        <form method="post" action="{% url 'recipes:publisher_delete' publisher_obj.id  %}">
        {% csrf_token %}
            <button class="btn btn-danger" type="submit" value="Delete">Delete <i class="fas fa-trash-alt"></i></button>
        </form>
    </li>
    </ul>
</div>
{% endif %}