{% load static %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Recipe Index</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- tables -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tables
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'recipes:publisher_full_form' %}">Publisher</a></li>
              <li><a class="dropdown-item" href="{% url 'images:file_form' %}">File</a></li>
            </ul>
          </li>
          <!-- create -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Create
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'recipes:publisher_full_form' %}">Publisher</a></li>
              <li><a class="dropdown-item" href="{% url 'images:file_form' %}">File</a></li>
            </ul>
          </li>
          <!-- buttons -->
          <li class="nav-item m-1">
            <a class="btn btn-primary" href="{% url 'recipes:recipe_url_form' %}">Recipe URL <i class="fas fa-plus"></i></a>
          </li>
          <li class="nav-item m-1">
            <a class="btn btn-primary" href="{% url 'recipes:recipe_full_form' %}">Full Recipe <i class="fas fa-plus"></i></a>
          </li>
        </ul>
        {% if recipe_detail %}
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn btn-secondary me-2" href="{% url 'recipes:recipe_full_form_edit' recipe.id %}">Edit <i class="fas fa-edit"></i></a>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'recipes:recipe_delete' recipe.id  %}">
                {% csrf_token %}
                  <button class="btn btn-danger" type="submit" value="Delete">Delete <i class="fas fa-trash-alt"></i></button>
              </form>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>