{% load static %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Recipe Index</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <!-- tables -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tables
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'publisher_table' %}">Publisher</a></li>
              <li><a class="dropdown-item" href="{% url 'file_table' %}">File</a></li>
            </ul>
          </li>
          <!-- create -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Create
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'recipes:publisher_full_form' %}">Publisher</a></li>
              <li><a class="dropdown-item" href="{% url 'images:file_form' %}">File</a></li>
            </ul>
          </li>
          <!-- buttons -->
          <li class="nav-item m-1">
            <a class="btn btn-primary" href="{% url 'recipes:recipe_url_form' %}">Recipe URL <i class="fas fa-plus"></i></a>
          </li>
          <li class="nav-item m-1">
            <a class="btn btn-primary" href="{% url 'recipes:recipe_full_form' %}">Full Recipe <i class="fas fa-plus"></i></a>
          </li>
        {% endif %}
        </ul>
        {% include 'partials/_navbar_detail_view_buttons.html' %}
        {% if request.user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'signout' %}"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'signin' %}"><i class="fas fa-user"></i> Sign In</a>
        {% endif %}
      </div>
    </div>
  </nav>