{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <form method="post" class="row" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                    <div class="mb-3 col-lg-6">
                        <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}