{% extends 'base.html' %}

{% load static %}

{% block content %}
{{ form.media }}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}