{% extends 'base.html' %}

{% load static %}

{% block script %}
<script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar-example3'
    })

    // show recipe url iframe
    $(".tiptext").mouseover(function() {
        $(this).children(".description").show();
    }).mouseout(function() {
        $(this).children(".description").hide();
    });
</script>
{% endblock %}

{% block content %}
<style>
    .scrollspy-body {
        position: relative;
        height: 400px;
        overflow: auto;
    }

    .bg-purple {
        background-color: purple;
    }

    /* recipe url iframe */
    .tiptext {
        cursor:pointer;
    }

    .description {
        display:none;
        position:absolute;
        border:1px solid #000;
        width:400px;
        height:400px;
        background-color: #fff;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-4">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">

            <a class="navbar-brand" href="#">Recipe</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-info">Info</a>
              <nav class="nav nav-pills flex-column">
                {% if recipe.recipe_url or recipe.recipe_publisher or recipe.recipe_author %}
                <a class="nav-link ms-3 my-1" href="#item-publisher">Publisher</a>
                {% endif %}
                <a class="nav-link ms-3 my-1" href="#item-name">Name</a>
                <a class="nav-link ms-3 my-1" href="#item-rating">Rating</a>
                <a class="nav-link ms-3 my-1" href="#item-instantpot">Instantpot</a>
              </nav>

              {% if recipe.recipe_full_ingredients or recipe.recipe_full_steps or recipe.recipe_alterations or recipe.recipe_notes %}
              <a class="nav-link" href="#item-directions">Directions</a>
              <nav class="nav nav-pills flex-column">
                {% if recipe.recipe_difficulty %}
                <a class="nav-link ms-3 my-1" href="#item-d-difficulty">Difficulty</a>
                {% endif %}
                {% if recipe.recipe_time or recipe.recipe_time_amount %}
                <a class="nav-link ms-3 my-1" href="#item-d-time">Time</a>
                {% endif %}
                {% if recipe.recipe_full_ingredients %}
                <a class="nav-link ms-3 my-1" href="#item-d-ingredients">Ingredients</a>
                {% endif %}
                {% if recipe.recipe_full_steps %}
                <a class="nav-link ms-3 my-1" href="#item-d-instructions">Instructions</a>
                {% endif %}
                {% if recipe.recipe_alterations %}
                <a class="nav-link ms-3 my-1" href="#item-d-alterations">Alterations</a>
                {% endif %}
                {% if recipe.recipe_notes %}
                <a class="nav-link ms-3 my-1" href="#item-d-notes">Notes</a>
                {% endif %}
              </nav>
              {% endif %}

              <a class="nav-link" href="#item-attributes">Attributes</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
              </nav>
            </nav>
          </nav>
        </div>
        <div class="col-8">
          
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0" class="scrollspy-body">
            <hr>
            <h4 id="item-info">{{ recipe.recipe_name_custom|title }} Info</h4>
            <hr>
                <p>Date Created: {{ recipe.recipe_created_date|date:'M d, Y' }}</p>
                <h5 id="item-publisher">Recipe Publisher</h5>
                {% if recipe.recipe_url %}
                <p><a class="tiptext btn btn-secondary" target="_blank" href="{{ recipe.recipe_url }}">Preview <i class="far fa-eye"></i><iframe class="description" src="{{ recipe.recipe_url }}"></iframe></a></p>
                {% endif %}
                <ul>
                    {% if recipe.recipe_publisher %}
                    <li><strong>Publisher:</strong> {{ recipe.recipe_publisher.publisher_name }}</li>
                        {% if recipe.recipe_publisher.domain_name %}
                        <li><strong>Domain:</strong> <a targe="_blank" href="//{{ recipe.recipe_publisher.domain_name }}/">{{ recipe.recipe_publisher.domain_name }} <i class="fas fa-external-link-alt"></i></a></li>
                        {% endif %}
                    {% endif %}
                    {% if recipe.recipe_author %}
                    <li><strong>Author:</strong> 
                        {% for author in recipe.recipe_author.all %}
                            {{ author }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% if recipe.recipe_url %}
                    <li><strong>URL:</strong> <a target="_blank" href="{{ recipe.recipe_url }}">{{ recipe.recipe_url }} <i class="fas fa-external-link-alt"></i></a></li>
                    {% endif %}
                </ul>
            <h5 id="item-name">Recipe Name(s)</h5>
            <ul>
                <li><strong>Name:</strong> {{ recipe.recipe_name_custom|title }}</li>
                {% if recipe.recipe_name_title_tag %}
                <li><strong>Title Tag:</strong> {{ recipe.recipe_name_title_tag }}</li>
                {% endif %}
                {% if recipe.recipe_name_h1 %}
                <li><strong>H1:</strong> {{ recipe.recipe_name_h1 }}</li>
                {% endif %}
            </ul>
            <!-- Rating -->
            <h5 id="item-rating">Rating</h5>
                {% if recipe.recipe_rating %}
                    {% if recipe.recipe_rating <= 5 %}
                        <h5><span class="badge bg-danger">{{ recipe.recipe_rating }}</span></h5>
                    {% elif recipe.recipe_rating < 8 %}
                        <h5><span class="badge bg-warning text-dark">{{ recipe.recipe_rating }}</span></h5>
                    {% else %}
                        <h5><span class="badge bg-success">{{ recipe.recipe_rating }}</span></h5>
                    {% endif %}
                {% else %}
                    <h5><span class="badge bg-secondary">No rating yet.</span></h5>
                {% endif %}
            <h5 id="item-instantpot">Instantpot {% if recipe.recipe_instantpot %}<span style="color: green;"><i class="fas fa-check-circle"></i></span>{% else %}<span style="color: red;"><i class="fas fa-times-circle"></i></span>{% endif %}</h5>
            <!-- Directions -->
            {% if recipe.recipe_full_ingredients or recipe.recipe_full_steps or recipe.recipe_alterations or recipe.recipe_notes %}
            <hr>
            <h4 id="item-directions">Directions</h4>
            <hr>
            {% endif %}
            <!-- Difficulty -->
            {% if recipe.recipe_difficulty %}
            <h5 id="item-d-difficulty">Difficulty</h5>
                {% if recipe.recipe_difficulty.size_order == 1 %}
                    <h5><span class="badge bg-success">Easy</span></h5>
                {% elif recipe.recipe_difficulty.size_order == 2 %}
                    <h5><span class="badge bg-warning text-dark">Average</span></h5>
                {% elif recipe.recipe_difficulty.size_order == 3 %}
                    <h5><span class="badge bg-danger">Hard</span></h5>
                {% elif recipe.recipe_difficulty.size_order == 4 %}
                    <h5><span class="badge bg-purple">Very Hard</span></h5>
                {% endif %}
            {% endif %}
            <!-- Time -->
            {% if recipe.recipe_time or recipe.recipe_time_amount %}
            <h5 id="item-d-time">Time</h5>
                {% if recipe.recipe_time %}
                    {% if recipe.recipe_time.size_order == 1 %}
                        <h5><span class="badge bg-success">Quick</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% elif recipe.recipe_time.size_order == 2 %}
                        <h5><span class="badge bg-warning text-dark">Medium</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% elif recipe.recipe_time.size_order == 3 %}
                        <h5><span class="badge bg-danger">Long</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% elif recipe.recipe_time.size_order == 4 %}
                        <h5><span class="badge bg-purple">Very Long</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% endif %}
                {% elif recipe.recipe_time_amount %}
                    <p>{{ recipe.recipe_time_amount }} hours</p>
                {% endif %}
            {% endif %}
            {% if recipe.recipe_full_ingredients %}
            <h5 id="item-d-ingredients">Ingredients</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_full_ingredients|safe }}
                    </div>
                </div>
            {% endif %}
            {% if recipe.recipe_full_steps %}
            <h5 id="item-d-instructions">Instructions</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_full_steps|safe }}
                    </div>
                </div>
            {% endif %}
            {% if recipe.recipe_alterations %}
            <h5 id="item-d-alterations">Alterations</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_alterations|safe }}
                    </div>
                </div>
            {% endif %}
            {% if recipe.recipe_notes %}
            <h5 id="item-d-notes">Notes</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_notes|safe }}
                    </div>
                </div>
            {% endif %}
            <h4 id="item-attributes">Attributes</h4>


            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae lorem lorem. Morbi porttitor, nunc vitae accumsan consequat, lorem velit dictum ante, et aliquet tortor ligula at libero. Aenean sit amet interdum libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor est sed nibh lacinia cursus. </p>
            <h4 id="item-3">Item 3</h4>
            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae lorem lorem. Morbi porttitor, nunc vitae accumsan consequat, lorem velit dictum ante, et aliquet tortor ligula at libero. Aenean sit amet interdum libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor est sed nibh lacinia cursus. </p>
            <h5 id="item-3-1">Item 3-1</h5>
            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae lorem lorem. Morbi porttitor, nunc vitae accumsan consequat, lorem velit dictum ante, et aliquet tortor ligula at libero. Aenean sit amet interdum libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor est sed nibh lacinia cursus. </p>
            <h5 id="item-3-2">Item 3-2</h5>
            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae lorem lorem. Morbi porttitor, nunc vitae accumsan consequat, lorem velit dictum ante, et aliquet tortor ligula at libero. Aenean sit amet interdum libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor est sed nibh lacinia cursus. </p>
          </div>
        </div>
</div>
</div>
{% endblock %}