{% extends 'base.html' %}

{% load static %}

{% block script %}
<script>
    var today = new Date(new Date().setDate(new Date().getDate()));
    $(document).ready(function() {
        $(function() {
            $( "#my_date_picker" ).datepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: today
            });
        });
    })
</script>
{% endblock %}

{% block content %}
{{ form.media }}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <form method="post" class="row">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                    {% if field.auto_id == 'id_recipe_alterations' or  field.auto_id == 'id_recipe_notes' or field.auto_id == 'id_recipe_full_ingredients' or field.auto_id == 'id_recipe_full_steps' %}
                        <div class="col-12">
                            <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                        </div>
                        <div class="mb-3 col-12">
                        {{ field }}
                        </div>
                            
                    {% elif field.auto_id == 'id_recipe_instantpot' %}
                        <div class="mb-3 col-12">
                                {{ field }}
                                <label for="{{ field.auto_id }}" class="form-check-label">{{ field.label }}</label>
                        </div>

                    {% else %}
                        <div class="mb-3 col-lg-6">
                            <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}