{% extends 'base.html' %}

{% load static %}

{% block script %}
<script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar-example3'
    })

    // show recipe url iframe
    $(".tiptext").mouseover(function() {
        $(this).children(".description").show();
    }).mouseout(function() {
        $(this).children(".description").hide();
    });
</script>
{% endblock %}

{% block content %}
<style>
    .scrollspy-body {
        position: relative;
        height: 900px;
        overflow: auto;
    }

    .bg-purple {
        background-color: purple;
    }

    /* recipe url iframe */
    .tiptext {
        cursor:pointer;
    }

    .description {
        display:none;
        position:absolute;
        border:1px solid #000;
        width:400px;
        height:400px;
        background-color: #fff;
    }

    #navbar-example3 .navbar-brand {
        white-space: normal;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-4">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">

            <a class="navbar-brand" href="#">{{ recipe.recipe_name_custom|title }}</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-info">Info</a>
              <nav class="nav nav-pills flex-column">
                {% if recipe.recipe_url or recipe.recipe_publisher or recipe.recipe_author.all %}
                <a class="nav-link ms-3 my-1" href="#item-publisher">Publisher</a>
                {% endif %}
                <a class="nav-link ms-3 my-1" href="#item-name">Name</a>
                <a class="nav-link ms-3 my-1" href="#item-rating">Rating</a>
                <a class="nav-link ms-3 my-1" href="#item-instantpot">Instantpot</a>
              </nav>

              {% if recipe.recipe_full_ingredients or recipe.recipe_full_steps or recipe.recipe_alterations or recipe.recipe_notes %}
              <a class="nav-link" href="#item-directions">Directions</a>
              <nav class="nav nav-pills flex-column">
                {% if recipe.recipe_difficulty %}
                <a class="nav-link ms-3 my-1" href="#item-d-difficulty">Difficulty</a>
                {% endif %}
                {% if recipe.recipe_time or recipe.recipe_time_amount %}
                <a class="nav-link ms-3 my-1" href="#item-d-time">Time</a>
                {% endif %}
                {% if recipe.recipe_full_ingredients %}
                <a class="nav-link ms-3 my-1" href="#item-d-ingredients">Ingredients</a>
                {% endif %}
                {% if recipe.recipe_full_steps %}
                <a class="nav-link ms-3 my-1" href="#item-d-instructions">Instructions</a>
                {% endif %}
                {% if recipe.recipe_alterations %}
                <a class="nav-link ms-3 my-1" href="#item-d-alterations">Alterations</a>
                {% endif %}
                {% if recipe.recipe_notes %}
                <a class="nav-link ms-3 my-1" href="#item-d-notes">Notes</a>
                {% endif %}
              </nav>
              {% endif %}

              <a class="nav-link" href="#item-attributes">Attributes</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-cuisine">Cuisine</a>
                <a class="nav-link ms-3 my-1" href="#item-meal">Meal</a>
                <a class="nav-link ms-3 my-1" href="#item-dish">Dish</a>
                <a class="nav-link ms-3 my-1" href="#item-category">Category</a>
                <a class="nav-link ms-3 my-1" href="#item-ingredients-tags">Ingredients (Tags)</a>
                <a class="nav-link ms-3 my-1" href="#item-event">Event</a>
              </nav>

              <a class="nav-link" href="#item-nutrition">Nutrition</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-protein">Protein</a>
                <a class="nav-link ms-3 my-1" href="#item-calories">Calories</a>
              </nav>
            </nav>
          </nav>
        </div>
        <div class="col-8">
          
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0" class="scrollspy-body">
            <!-- Info -->
            <hr>
            <h4 id="item-info">{{ recipe.recipe_name_custom|title }} Info</h4>
            <hr>
                <!-- Date -->
                <p>Date Created: {{ recipe.recipe_created_date|date:'M d, Y' }}</p>
                <!-- Recipe Publisher Main -->
                <h5 id="item-publisher">Recipe Publisher</h5>
                <!-- Preview -->
                {% if recipe.recipe_url %}
                <p><a class="tiptext btn btn-secondary" target="_blank" href="{{ recipe.recipe_url }}">Preview <i class="far fa-eye"></i><iframe class="description" src="{{ recipe.recipe_url }}"></iframe></a></p>
                {% endif %}
                <ul>
                    <!-- Publisher -->
                    {% if recipe.recipe_publisher %}
                    <li><strong>Publisher:</strong> 
                        {% for publisher in recipe.recipe_publisher.all %}
                            {% if publisher.channel_url %}
                                <a target="_blank" href="{{ publisher.channel_url }}">{{ publisher }}</a>{% if not forloop.last %}, {% endif %}
                            {% elif publisher.domain_name %}
                                <a targe="_blank" href="//{{ publisher.domain_name }}/">{{ publisher }}</a>{% if not forloop.last %}, {% endif %}
                            {% else %}
                                {{ publisher }}{% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>
                        <!-- Domain -->
                        {% if recipe.recipe_publisher.domain_name %}
                        <li><strong>Domain:</strong> <a targe="_blank" href="//{{ recipe.recipe_publisher.domain_name }}/">{{ recipe.recipe_publisher.domain_name }} <i class="fas fa-external-link-alt"></i></a></li>
                        {% endif %}
                    {% endif %}
                    <!-- Author -->
                    {% if recipe.recipe_author.all %}
                    <li><strong>Author:</strong> 
                        {% for author in recipe.recipe_author.all %}
                            {{ author }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    {% endif %}
                    <!-- URL -->
                    {% if recipe.recipe_url %}
                    <li><strong>URL:</strong> <a target="_blank" href="{{ recipe.recipe_url }}">{{ recipe.recipe_url }} <i class="fas fa-external-link-alt"></i></a></li>
                    {% endif %}
                </ul>
            <!-- Recipe Name -->
            <h5 id="item-name">Recipe Name(s)</h5>
            <ul>
                <!-- Name -->
                <li><strong>Name:</strong> {{ recipe.recipe_name_custom|title }}</li>
                <!-- Title Tag -->
                {% if recipe.recipe_name_title_tag %}
                <li><strong>Title Tag:</strong> {{ recipe.recipe_name_title_tag }}</li>
                {% endif %}
                <!-- H1 -->
                {% if recipe.recipe_name_h1 %}
                <li><strong>H1:</strong> {{ recipe.recipe_name_h1 }}</li>
                {% endif %}
            </ul>
            <!-- Rating -->
            <h5 id="item-rating">Rating
                {% if recipe.recipe_rating %}
                    {% if recipe.recipe_rating <= 5 %}
                        <span class="badge bg-danger">{{ recipe.recipe_rating }}</span>
                    {% elif recipe.recipe_rating < 8 %}
                        <span class="badge bg-warning text-dark">{{ recipe.recipe_rating }}</span>
                    {% else %}
                        <span class="badge bg-success">{{ recipe.recipe_rating }}</span>
                    {% endif %}
                {% else %}
                    <span class="badge bg-secondary">No rating yet.</span>
                {% endif %}
            </h5>
            <!-- Instantpot -->
            <h5 id="item-instantpot">Instantpot {% if recipe.recipe_instantpot %}<span style="color: green;"><i class="fas fa-check-circle"></i></span>{% else %}<span style="color: red;"><i class="fas fa-times-circle"></i></span>{% endif %}</h5>
            <!-- Directions -->
            {% if recipe.recipe_full_ingredients or recipe.recipe_full_steps or recipe.recipe_alterations or recipe.recipe_notes %}
            <hr>
            <h4 id="item-directions">Directions</h4>
            <hr>
            {% endif %}
            <!-- Difficulty -->
            {% if recipe.recipe_difficulty %}
            <h5 id="item-d-difficulty">Difficulty</h5>
                {% if recipe.recipe_difficulty.size_order == 1 %}
                    <h5><span class="badge bg-success">Easy</span></h5>
                {% elif recipe.recipe_difficulty.size_order == 2 %}
                    <h5><span class="badge bg-warning text-dark">Average</span></h5>
                {% elif recipe.recipe_difficulty.size_order == 3 %}
                    <h5><span class="badge bg-danger">Hard</span></h5>
                {% elif recipe.recipe_difficulty.size_order == 4 %}
                    <h5><span class="badge bg-purple">Very Hard</span></h5>
                {% endif %}
            {% endif %}
            <!-- Time -->
            {% if recipe.recipe_time or recipe.recipe_time_amount %}
            <h5 id="item-d-time">Time</h5>
                {% if recipe.recipe_time %}
                    {% if recipe.recipe_time.size_order == 1 %}
                        <h5><span class="badge bg-success">Quick</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% elif recipe.recipe_time.size_order == 2 %}
                        <h5><span class="badge bg-warning text-dark">Medium</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% elif recipe.recipe_time.size_order == 3 %}
                        <h5><span class="badge bg-danger">Long</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% elif recipe.recipe_time.size_order == 4 %}
                        <h5><span class="badge bg-purple">Very Long</span> {% if recipe.recipe_time_amount %}<span class="fs-6">- {{recipe.recipe_time_amount}} hours</span>{% endif %}</h5>
                    {% endif %}
                {% elif recipe.recipe_time_amount %}
                    <p>{{ recipe.recipe_time_amount }} hours</p>
                {% endif %}
            {% endif %}
            <!-- Full Ingredients -->
            {% if recipe.recipe_full_ingredients %}
            <h5 id="item-d-ingredients">Ingredients</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_full_ingredients|safe }}
                    </div>
                </div>
            {% endif %}
            <!-- Full Steps -->
            {% if recipe.recipe_full_steps %}
            <h5 id="item-d-instructions">Instructions</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_full_steps|safe }}
                    </div>
                </div>
            {% endif %}
            <!-- Alterations -->
            {% if recipe.recipe_alterations %}
            <h5 id="item-d-alterations">Alterations</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_alterations|safe }}
                    </div>
                </div>
            {% endif %}
            <!-- Notes -->
            {% if recipe.recipe_notes %}
            <h5 id="item-d-notes">Notes</h5>
                <div class="row">
                    <div class="col">
                        {{ recipe.recipe_notes|safe }}
                    </div>
                </div>
            {% endif %}

            <!-- Attributes -->
            <hr>
            <h4 id="item-attributes">Attributes</h4>
            <hr>

            <!-- Cuisine -->
            <h5 id="item-cuisine">Cuisine</h5>
            {% if recipe.recipe_cuisine.all %}
                <div class="my-4">
                    {% for cuisine in recipe.recipe_cuisine.all %}
                    <a href="{% url 'home' %}?recipe_cuisine={{ cuisine.id }}" class="btn btn-outline-primary">{{ cuisine.cuisine_name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fst-italic">No cuisines available.</p>
            {% endif %}

            <!-- Meal -->
            <h5 id="item-meal">Meal</h5>
            {% if recipe.recipe_meal.all %}
                <div class="my-4">
                    {% for meal in recipe.recipe_meal.all %}
                    <a href="{% url 'home' %}?recipe_meal={{ meal.id }}" class="btn btn-outline-primary">{{ meal.meal_name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fst-italic">No meals available.</p>
            {% endif %}

            <!-- Dish -->
            <h5 id="item-dish">Dish</h5>
            {% if recipe.recipe_dish.all %}
                <div class="my-4">
                    {% for dish in recipe.recipe_dish.all %}
                    <a href="{% url 'home' %}?recipe_dish={{ dish.id }}" class="btn btn-outline-primary">{{ dish.dish_name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fst-italic">No dishes available.</p>
            {% endif %}

            <!-- Category -->
            <h5 id="item-category">Category</h5>
            {% if recipe.recipe_category.all %}
                <div class="my-4">
                    {% for category in recipe.recipe_category.all %}
                    <a href="{% url 'home' %}?recipe_category={{ category.id }}" class="btn btn-outline-primary">{{ category.category_name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fst-italic">No categories available.</p>
            {% endif %}

            <!-- Ingredients -->
            <h5 id="item-ingredients-tags">Ingredients (Tags)</h5>
            {% if recipe.recipe_ingredients.all %}
                <div class="my-4">
                    {% for ingredients in recipe.recipe_ingredients.all %}
                    <a href="{% url 'home' %}?recipe_ingredients={{ ingredients.id }}" class="btn btn-outline-primary">{{ ingredients.ingredient_name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fst-italic">No ingredients available.</p>
            {% endif %}

            <!-- Event -->
            <h5 id="item-event">Events</h5>
            {% if recipe.recipe_event.all %}
                <div class="my-4">
                    {% for event in recipe.recipe_event.all %}
                    <a href="{% url 'home' %}?recipe_event={{ event.id }}" class="btn btn-outline-primary">{{ event.event_name }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="fst-italic">No events available.</p>
            {% endif %}

            <!-- Nutrition -->
            <hr>
            <h4 id="item-nutrition">Nutrition</h4>
            <hr>
            <!-- Protein -->
            <h5 id="item-protein">Protein</h5>
                {% if recipe.recipe_protein %}
                    {% if recipe.recipe_protein.size_order == 4 %}
                        <h5><span class="badge bg-success">Very High</span></h5>
                    {% elif recipe.recipe_protein.size_order == 3 %}
                        <h5><span class="badge bg-success">High</span></h5>
                    {% elif recipe.recipe_protein.size_order == 2 %}
                        <h5><span class="badge bg-warning text-dark">Medium</span></h5>
                    {% elif recipe.recipe_protein.size_order == 1 %}
                        <h5><span class="badge bg-danger">Low</span></h5>
                    {% endif %}
                {% else %}
                    <p class="fst-italic">No protein info available.</p>
                {% endif %}
            <!-- Calories -->
            <h5 id="item-calories">Calories</h5>
                {% if recipe.recipe_calories %}
                    {% if recipe.recipe_calories.size_order == 1 %}
                        <h5><span class="badge bg-success">Low</span></h5>
                    {% elif recipe.recipe_calories.size_order == 2 %}
                        <h5><span class="badge bg-warning text-dark">Medium</span></h5>
                    {% elif recipe.recipe_calories.size_order == 3 %}
                        <h5><span class="badge bg-danger">High</span></h5>
                    {% elif recipe.recipe_calories.size_order == 4 %}
                        <h5><span class="badge bg-purple">Very High</span></h5>
                    {% endif %}
                {% else %}
                    <p class="fst-italic">No calorie info available.</p>
                {% endif %}


          </div>
        </div>
</div>
</div>
{% endblock %}